body {
    background-color: rgb(68, 68, 68);
    color: rgb(68, 68, 68);
}

a {
    color: wheat;
}

/*header css*/
.header {
    font-size: 150%;
    color: wheat;
}

.header a {
    color: rgb(229, 255, 0);
    float: right;
    margin-right: 5px;
    text-decoration: none;
}

.header i {
    color: red;
}

.header b {
    float: left;
    margin-right: 5px;
}

.header #right {
    text-align: right;
}

/*homepage css*/
.index {
    resize: none;
    color: wheat;
}

.index h1 {
    text-align: center;
}

.index #createpost {
    text-align: center;
}

.index #header {
    resize: none;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: wheat;
}

.index #content {
    resize: none;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: wheat;
}

.index #categories {
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: wheat;
}

.index #postlist {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: wheat;

}

.index #post:hover {
    text-align: center;
    border: 4px  solid;
    border-radius: 10px;
    border-color: rgb(95, 0, 0);
    background-color: rgb(31, 31, 31);

}
.index a {
    text-decoration: none;
}

.index #post {
    word-wrap: break-word;
    padding: 0.5%;
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(31, 31, 31);
}

.index #dateposted {
    float: left;
}

.index #category {
    float: right;
}

.index #newpost {
    border: 2px solid;
    border-radius: 7px;
    border-color: wheat;
    background-color: wheat;
}
.index #newpost:hover {
    border-color: rgb(255, 190, 70);
}

.index #post #categoryfilter {
    resize: none;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: wheat;
}

.index #post #posttitle {
    resize: none;
    text-decoration: none;
}

.index #postlist #categoryfilter {
    resize: none;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: wheat;
}

.index #filter {
    border: 2px solid;
    border-radius: 7px;
    border-color: wheat;
    background-color: wheat;
}
.index #filter:hover {
    border-color: rgb(255, 190, 70);
}

/*personal accountpage*/
.account {
    width: 60%;
    color: wheat;
    text-align: center;
}

.account #data {}

.account #postscreated {
    padding-left: 20%;
}

.account #postsliked {
    padding-left: 20%;
}


/*memberspage css*/
.members {
    color: wheat;
    text-align: center;

}

.members #collection {
    display: inline-block;
    color: wheat;
}

th,
td {
    width: 60%;
    text-align: center;
    padding: 30px;
    border: 1px solid whitesmoke;
}

table {
    width: 60%;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
}

/*loginpage css*/
.login {
    color: wheat;
    text-align: center;
}

.login label {
    color: yellow;
}

.login .button {
    border-radius: 15%;
}

/*registerpage css*/
.register {
    color: wheat;
    text-align: center;
}

.register label {
    color: yellow;
}

.register .button {
    border-radius: 15%;
}

/*errorpage css*/
.error {
    text-align: center;
    color: red;

    background-image: url("../images/steam-alien.png"), url("../images/steam-alien-rotate.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 60%;
    background-position: -20% top, 120% top;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/*forumpage css*/
.forum {
    word-wrap: break-word;
    resize: none;
    color: wheat;
    font-size: 20px;
    text-align: center;
}

.forum #Poster {
    border: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(31, 31, 31);
    margin: 0 auto;
    width: 60%;
    padding: 1%;
    text-align: left;

}

.forum #originalposter {
    color: red;
    text-align: start;
}

.forum #Topictitle {
    font-size: 125%;
}

.forum #like {
    width: 7%;
    font-size: 70%;
    padding: 1%;
    border-radius: 10px;
    background-color: rgb(16, 197, 0);
}

.forum #dislike {
    width: 7%;
    font-size: 70%;
    padding: 1%;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
}
.forum #like:hover {
    width: 7%;
    font-size: 70%;
    padding: 1.1%;
    border-radius: 10px;
    background-color: rgb(16, 197, 0);
}

.forum #dislike:hover {
    width: 7%;
    font-size: 70%;
    padding: 1.1%;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
}

.forum #commentbox {
    resize: none;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: wheat;
}
.forum #commentbutton {
    border: 2px solid;
    border-radius: 7px;
    border-color: wheat;
    background-color: wheat;
}
.forum #commentbutton:hover {
    border-color: rgb(255, 190, 70);
}

.forum #postlikesdislikes {
    color: wheat
}

.forum #addcomment {
    background-color: rgb(68, 68, 68);
}

.forum #content {}

/*forumpage comments css*/
.comments {
    word-wrap: break-word;
    border: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(31, 31, 31);
    margin: 0 auto;
    max-width: 60%;
    padding: 1%;
}

.comments #commentdata {
    color: red;
    text-align: start;
}

.comments #comcontent {
    text-align: left;

}

.comments #content button {
    border-radius: 50%;
    background-color: wheat;
}