{{define "content"}}
<div class="account">
  <div id="data">
    <h2>
      Username: {{.LoggedUser.Username}}<br>
      Email: {{.LoggedUser.Email}}<br>
      Member since: {{.LoggedUser.DateCreated}}<br>
    </h2>
  </div>

  <div id="postscreated">
    <table>
      <tr>
        <th>Posts created by you:</th>
      </tr>
      {{range .CreatedPosts}}
      <tr>
        <td><a href="post/{{.PostID}}">{{.PostTopic}}</a></td>
      </tr>
      {{end}}
    </table>
  </div>

  <br>
  <br>

  <div id="postsliked">
    <table>
      <tr>
        <th>
          <h2>Posts liked by you:</h2>
        </th>
      </tr>
      {{range .LikedComments}}
      <tr>
        <td><a href="post/{{.PostID}}">{{.Title}}</a></td>
      </tr>
      {{end}}
    </table>
  </div>
</div>
{{end}}