{{define "content"}}
<div class="account">
  <div id="data">
    <h2>
      Username: {{.LoggedUser.Username}}<br>
      Email: {{.LoggedUser.Email}}<br>
      Member since: {{.LoggedUser.DateCreated}}<br>
    </h2>
  </div>

<div id="postscreated">
      <h2>Posts created by you:</h2>
      {{range .CreatedPosts}}
      <a href="post/{{.PostID}}">{{.PostTopic}}</a> <br> <br>
      {{end}}
  </div>

  <br>
  <br>

<div id="postsliked">
  <h2>Posts liked by you:</h2>
  {{range .LikedComments}}
    <a href="post/{{.PostID}}">{{.Title}}</a> <br> <br>
  {{end}}
</div>
</div>
{{end}}