{{define "content"}}
<div class="forum">
    <br>
    <div id="Poster">
        <div id="originalposter">{{.CurrentPost.Date_posted}} <br> By: {{.CurrentPost.Author}} <br></div>
        <div id="Topictitle">Topic: {{.CurrentPost.Title}}</div>
        <br>
        <div id="content">
            {{.CurrentPost.Content}}
        </div>
        {{ if ne .CurrentPost.Image "false"}}
        <img id="pilt" src="/web/temp-images/{{.CurrentPost.Image}}" alt="siinonkõvapilt">
        {{end}}
        <br>
        
        <div id="postlikesdislikes">
            <form method="POST" action="/likePost">
                <button {{ if not .Loggedin }} disabled {{end}} id="like" name="button" value="like">👍 {{.CurrentPost.Likes}}</button>
                <button {{ if not .Loggedin }} disabled {{end}} id="dislike" name="button" value="dislike"> {{.CurrentPost.Dislikes}} 👎</button>
            </form>
        </div>

    </div>
    <br>
    <!--comments start here:-->
    <br>
    {{ if .Loggedin }}
    Add comment:
    <div id="addcomment">
        <form method="POST" action="/comment">
            <textarea id="commentbox" name="forum_commentbox" id="comments" maxlength="1000" minlength="5"
                required></textarea><br>
            <input id="commentbutton" class="button" type="submit" value="Add comment">
        </form>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
    </div>
    {{ end }}

    <br>
    <br>
    Comments:
 
    {{range .CurrentPost.Comments}}
    <br>
    <div class="comments">
        <div id="commentdata">
            {{.Date_commented}} <br> {{.Username}}: <br>
        </div>
        <div id="comcontent">
            {{.Content}}
            <form method="POST" , action="/likeComment/{{.Id}}">
                <br>
                <button {{ if not $.Loggedin }} disabled {{end}} id="like" name="button" value="like">👍 {{.Likes}}</button>
                <button {{ if not $.Loggedin }} disabled {{end}} id="dislike" name="button" value="dislike"> {{.Dislikes}} 👎</button>
            </form>
        </div>
    </div>
    {{end}} 

    {{end}}