{{define "content"}}
<div class="forum">
    <br>
    <div class="pheader">
        <div id="Poster" style="width:20%; float:left; max-width: 20%;">
            <!--div id="left"-->
            <img id="pilt" src="/web/profilepictures/blank.png" alt="profilepicture"
                style="width:80%; height: 80%; border-radius: 5%;">
            <div id="originalposter">{{.CurrentPost.Author}} <br> {{.CurrentPost.Date_posted}} </div>
            <div id="postlikesdislikes">
                <form method="POST" action="/likePost">
                    <button {{ if not .Loggedin }} disabled {{end}} id="like" name="button" value="like">👍
                        {{.CurrentPost.Likes}}</button>
                    <button {{ if not .Loggedin }} disabled {{end}} id="dislike" name="button" value="dislike">
                        {{.CurrentPost.Dislikes}} 👎</button>
                </form>
            </div>
        </div>



        <div id="Poster" style="width:80%; float:right; max-width: 100%; min-width: 80%;">
            {{if .CurrentPost.Edit}}
            <img style="width:100%; max-width:300px; height:auto; float:right;"
            id="pilt" src="/web/temp-images/{{.CurrentPost.Image}}" alt="siinonkõvapilt">            
            <form method="POST" enctype="multipart/form-data">
                <textarea id="header" name="post_header" cols="50" rows="1" id="title" maxlength="100" minlength="5"
                    required>{{.CurrentPost.Title}}</textarea><br>
                <textarea id="content" name="post_content" cols="50" rows="4" id="body" maxlength="1000" minlength="5"
                    required>{{.CurrentPost.Content}}</textarea><br>
                <input type="file" name="myFile" accept="image/*" /> <br> <br>
                <input id="newpost" class="button" type="submit" value="Save">
                <input id="newpost" class="button" type="submit" value="Cancel">
            </form>
        
            {{ if ne .CurrentPost.Image "false"}}
           
            {{end}}
            {{else}}
            <div id="Topictitle">Topic: {{.CurrentPost.Title}}</div><br>
            <div id="content">
                {{.CurrentPost.Content}}
            </div>
            {{ if ne .CurrentPost.Image "false"}}
            <img id="pilt" src="/web/temp-images/{{.CurrentPost.Image}}" alt="siinonkõvapilt">
            {{end}}
            <br>

            {{if eq .LoggedUser.ID .CurrentPost.UserId }}
            {{template "postEditing" .}}
            {{end}}
            {{end}}

        </div>

        <br style="clear:both;" /> <!--That will force the content div to surround the two internal, floating divs.-->
    </div>


    <!--comments start here:-->

    {{ if .Loggedin }}

    <div id="addcomment">
        <br> Add comment:
        <form method="POST" action="/comment">
            <textarea id="commentbox" name="forum_commentbox" id="comments" maxlength="1000" minlength="5"
                required></textarea><br>
            <input id="commentbutton" class="button" type="submit" value="Add comment">
        </form>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
    </div>
    {{ end }}

    <br>
    <br>
    {{range .CurrentPost.Comments}}
    <br>
    <div class="comments">
        <div id="commentdata" style="width:20%; float:left;">
            <img id="pilt" src="/web/profilepictures/blank.png" alt="profilepicture"
                style="width:80%; height: 80%; border-radius: 5%;">
            {{.Username}}:<br>{{.Date_commented}} <br>
            <form method="POST" , action="/likeComment/{{.Id}}">
                <button {{ if not $.Loggedin }} disabled {{end}} id="like" name="button" value="like">👍
                    {{.Likes}}</button>
                <button {{ if not $.Loggedin }} disabled {{end}} id="dislike" name="button" value="dislike">
                    {{.Dislikes}} 👎</button>
            </form>
        </div>

        <div id="comcontent">
            {{.Content}}
        </div>

        <br style="clear:both;" /> <!--That will force the content div to surround the two internal, floating divs.-->

    </div>

    {{end}}
    {{end}}

    {{define "postEditing"}}
    <form  method="POST">
        <button title="delete" class="delete" name="delete" value={{.CurrentPost.Id}}>❌ DELETE</button>
        <button title="edit" class="edit" name="edit" data-type="edit" value={{.CurrentPost.Id}}>✏️ EDIT</button>
    </form>
    {{end}}