{{define "content"}}
<div class="index">
    <!-- <img src="web/images/welcome.gif" style="display: block; margin-left: auto;margin-right: auto;width: 50%;"-->
    <h1>Welcome to our forum!</h1>

    {{ if .Loggedin }}
    <div id="createpost">
        <form method="POST" enctype="multipart/form-data">
            TITLE : <textarea id="header" name="post_header" cols="50" rows="1" id="title" maxlength="100" minlength="5"
                required></textarea><br>
            TEXT : <textarea id="content" name="post_content" cols="50" rows="4" id="body" maxlength="1000"
                minlength="5" required></textarea><br>
            CATEGORY : <select id="categories" name="category" required>
                {{range .Categories}}
                <option value="{{.Id}}">{{.Name}}</option>
                {{end}}
            </select>

            <input type="file" name="myFile" accept="image/*" /> <br> <br>
            <input id="newpost" class="button" type="submit" value="Submit Post">
        </form>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
    </div>

    <br>
    {{end}}
    <div id="postlist">
        <form action="/changefilter" ,method="POST">
            CATEGORY FILTER : <select id="categoryfilter" name="categoryfilter">
                <option value="">All</option>
                {{range .Categories}}
                <option value="{{.Id}}" {{if eq .Id $.SelectedFilter }} selected="selected" {{end}}>{{.Name}}</option>
                {{end}}
            </select>
            <input id="filter" name="sendfilter" class="button" type="submit" value="Filter">
        </form>
        <br>

        {{range .Forum_data}}
        <a href="/post/{{.Id}}">
            <div id="post">

                <div id="dateposted"> Date Posted: {{.Date_posted}}</div>
                <div id="category"> Category: {{.Category}}</div>
                <div id="posttitle">
                    <h1>{{.Title}}</h1>
                </div>
                <div id="originalposter">Posted by: {{.Author}}</div>
                <br>
            </div>
        </a>
        
        <br>
        {{end}}
    </div>

</div>
{{end}}