<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <link rel="stylesheet" href="/web/design/style.css" type="text/css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- <link rel="icon" href="web/icon.jpeg"> -->
</head>

<body>
    <div class="header">
        <header>
            <div id="center">
                {{ if .Loggedin }}                    
                <div style="float:left;">
                    <a href="/">Home | </a>
                    <a href="/members">Members | </a>
                    <a href="/account">Account | </a>
                    <a href="/logout">Logout</a>

                </div>
                <b style="float:right;">Welcome, <i>{{ .LoggedUser.Username }}</i>!</b>
                <a href="/activity" id="Noti"></img><div id="notinumb">{{.LoggedUser.Notifications}}</div></a>
                <br>
                {{ else }}
                <div style="float:left;">
                    <a href="/">Home | </a>
                    <a href="/members">Members | </a>
                    <a href="/register">Register | </a>
                    <a href="/login">Login</a>
                </div>
                {{ end }}
                <br style="clear:both;"/> <!--That will force the content div to surround the two internal, floating divs.-->
            </div>
        </header>
    </div>

    {{ template "content" . }}

</body>

</html>