{{define "content"}}
<div class="login">
    <form method="POST" class="loginform">
        <br>
        <br>
        <label for="username">Username:</label>
        <br>
        <input id="username" name="user_name" type="text" value="" required pattern="[a-zA-Z0-9]+" minlength="3"
            maxlength="15">
        <br>
        <label for="pw">Password:</label>
        <br>
        <input id="pw" name="user_password" type="password" value="" required minlength="5" maxlength="15">
        <br>
        {{.ErrorMsg}}
        <br>
        <input type="submit" class="button" value="Login">
        <br>
        <br>
    </form>
</div>
{{end}}