<br>
ID: {{.Id}} {{.Title}}
{{ if .Loggedin }}
<form method="POST" action="/likePost">
    <button name="button" value="like">👍 {{.Likes}}</button>
    <button name="button" value="dislike">👍 {{.Dislikes}}</button>
</form>
{{ else }}
👍 {{.Likes}} LAIKKI
👍 {{.Dislikes}} DISLAIKKI
{{ end }}
<br><br>
Content:<br>
{{.Content}}
<br>

{{ if .Loggedin }}
Add comment:
<form method="POST" action="/comment">
    <!--fieldset style="background: #f6f8ff; border: 2px solid #4238ca;"-->
    <textarea name="forum_commentbox" id="comments"></textarea><br>
    <input class="button" type="submit" value="Add comment">
    <!--/fieldset-->
</form>
{{ end }}

<br>
Comments:
<br>
{{ if .Loggedin }}
{{range .Comments}}<br>
{{.UserId}}: {{.Content}}


<form method="POST" , action="/likeComment/{{.Id}}">
    <button name="button" value="like">👍 {{.Likes}}</button>
    <button name="button" value="dislike">👍 {{.Dislikes}}</button>
</form>
{{end}}
{{ else }}
{{range .Comments}}<br>
{{.UserId}}: {{.Content}} <br> 👍 {{.Likes}} LAIKKI 👍 {{.Dislikes}} DISLAIKKI
{{end}}
{{ end }}
</body>

</html>