<br>
Posted by: {{.Author}} <br>Topic: {{.Title}}<br>
Date create: {{.Date_posted}}
{{ if .Loggedin }}
<form method="POST" action="/likePost">
    <button name="button" value="like">👍 {{.Likes}}</button>
    <button name="button" value="dislike">👍 {{.Dislikes}}</button>
    
</form>
{{ else }}
👍 {{.Likes}} LAIKKI
👍 {{.Dislikes}} DISLAIKKI
{{ end }}
<br><br>
Content:<br>
{{.Content}}
<br>

{{ if .Loggedin }}
Add comment:
<form method="POST" action="/comment" onsubmit="return validate('comments');">
    <!--fieldset style="background: #f6f8ff; border: 2px solid #4238ca;"-->
    <textarea name="forum_commentbox" id="comments"></textarea><br>
    <input class="button" type="submit" value="Add comment">
    <!--/fieldset-->
</form>
<script>function validate(x) {
    // check if input is bigger than 3
    var value = document.getElementById(x).value;
    if (value.length < 3) {
        window.alert("Spam detected!")
      return false; // keep form from submitting
    }
    return true;
   }</script>
{{ end }}

<br>
Comments:
<br>
{{ if .Loggedin }}
{{range .Comments}}<br>
{{.Username}}: {{.Date_commented}}<br>{{.Content}}


<form method="POST" , action="/likeComment/{{.Id}}">
    <button name="button" value="like">👍 {{.Likes}}</button>
    <button name="button" value="dislike">👍 {{.Dislikes}}</button>
</form>
{{end}}
{{ else }}
{{range .Comments}}<br>
{{.Username}}{{.Date_commented}}<br>{{.Content}} <br> 👍 {{.Likes}} LAIKKI 👍 {{.Dislikes}} DISLAIKKI
{{end}}
{{ end }}
</body>

</html>