<!--https://lets-go.alexedwards.net/sample/02.07-html-templating-and-inheritance.html-->


    <h1>Welcome to our forum!</h1>
    {{ if .Loggedin }}
    <form method="POST">
        TITLE: <textarea name="post_header" cols="50" rows="1"></textarea><br>
        TEXT : <textarea name="post_content" cols="50" rows="4"></textarea><br>
        <input class="button" type="submit" value="New Post">
    </form>
    <br>
    {{end}}
        {{range .Forum_data}}
    <div id="collection">
        <a href="/post/{{.Id}}">{{.Title}}</a> {{.Author}}
    </div>
        {{end}}
    
</body>

</html>

