body{
    background-color: #1f1a1a;
    background-image: url("background.svg");
    color: lightgray;
}
a{
    color: aliceblue;
}
/*header css*/
.header{
    color: wheat;
}
.header a{
    color: aqua;
    text-decoration: none;
}
.header i{
    color: red;
}
.header #center{
    text-align: center;
}
.header #right{
    text-align: right;
}

/*homepage css*/
.index{
    color: aliceblue;
}
.index h1{
    text-align: center;
}

.index #createpost{
    text-align: center;
}

.index #postlist{
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    border-color: hsla(0, 0%, 100%, 0.317);
    background-color: hsla(0, 100%, 7%, 0.45);
}
.index #postlist #dateposted{
    text-align: left;
}
.index #postlist #category{
    text-align: left;
}
.index #postlist #posttitle{
    text-align: center;
}
.index #postlist #posttitle a{
    text-decoration:  none;
}
.index #postlist #originalposter{
    text-align: center;
}

/*personal accountpage*/
.account {
    text-align: center;
}
.account #data{
}
.account #postscreated{
    padding-left: 20%;
    text-decoration: none;
}

.account #postsliked{
    padding-left: 20%;
    text-decoration: none;
}


/*memberspage css*/
.members{
    text-align: center;
    
}
.members #collection{
    display: inline-block;
    color: lightgray;
}
th, td {
    text-align: center;
    padding: 30px;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
}
table {
    width: 80%;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
}

/*loginpage css*/
.login{
    text-align: center;
}
.login label{
    color: yellow;
}
.login .button{
    border-radius: 15%;
}

/*registerpage css*/
.register{
    text-align: center;
}
.register label{
    color: yellow;
}
.register .button{
    border-radius: 15%;
}
/*errorpage css*/
.error{
    text-align: center;
    color:red;
}

/*forumpage css*/
.forum{
    text-align: center;
}
.forum #originalposter{
    text-align: center;
}
.forum #posttopic{

}
.forum #postcreated{

}
.forum #postlikesdislikes{

}
.forum #addcomment{
    background: #f6f8ff; 
    border: 2px solid #4238ca;
}
.forum #content{

}
/*forumpage comments css*/
.comments{
    text-align: center;
    background: #f6f8ff; 
    border: 2px solid #4238ca;
}

.comments #data{
    display: inline-block;
    text-align: left;
    text-align-last: justify;
}
.comments #content{
    background: #f6f8ff; 
    border: 2px solid #4238ca;
}
.comments #content button{
    border-radius: 50%;
}